@model DoAnWebThiTracNghiem.Models.Exam
@{
    ViewData["Title"] = "TakeExam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Exam_Name</h2>

<form asp-action="SubmitExam" method="post">
    <input type="hidden" name="examId" value="@Model.Exam_ID" />
    @foreach (var question in Model.Exam_Questions.OrderBy(q => q.Question_Order))
    {
        <div class="form-group">
            <label>
                Câu @question.Question_Order: @question.Question.Question_Content (@question.Points điểm)
            </label>
            <div>
                <input type="radio" name="answers[@question.Question_ID]" value="A" /> A. @question.Question.Option_A<br />
                <input type="radio" name="answers[@question.Question_ID]" value="B" /> B. @question.Question.Option_B<br />
                <input type="radio" name="answers[@question.Question_ID]" value="C" /> C. @question.Question.Option_C<br />
                <input type="radio" name="answers[@question.Question_ID]" value="D" /> D. @question.Question.Option_D<br />
            </div>
        </div>
    }
    <button type="submit" class="btn btn-success">Nộp bài</button>
</form>
