@model List<DoAnWebThiTracNghiem.Models.Question>


@{
    ViewData["Title"] = "Thêm câu hỏi vào đề thi"; 
    Layout = "~/Areas/Teacher/Views/Shared/_layout.cshtml";
}

<h2>Thêm câu hỏi vào đề thi</h2>

@if (TempData["ErrorMessage"] != null)
{
    <div class="text-danger">@TempData["ErrorMessage"]</div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="text-success">@TempData["SuccessMessage"]</div>
}

<form asp-action="AddQuestions" method="post">
    <input type="hidden" name="examId" value="@ViewData["ExamId"]" />
    <table class="table">
        <thead>
            <tr>
               
                <th>Chọn</th>
                <th>Nội dung câu hỏi</th>
                <th>Loại câu hỏi</th>
                <th>Mức độ</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var question in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="questionIds" value="@question.Question_ID" />
                    </td>
                    <td>@question.Question_Content</td>
                    <td>@question.QuestionType?.Name</td>
                    <td>@question.Level?.LevelName</td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Thêm câu hỏi</button>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

